@import "config";
@import "menu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include background;
  height: 100vh;
  background: $primary-color;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
  color: set-text-color($primary-color);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
  }
  &.sm-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.3rem 1rem;
    background: darken(rgba(0, 0, 0, 0.4), 3);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1.5rem;

    a {
      padding: 0 0.5rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image-2 {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 3px solid $secondary-color;
  }

  .bio {
    grid-area: bio;
  }

  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 3);
    padding: 0.5rem;
    border-bottom: 5px solid $primary-color;
    line-height: 1.7;
  }
}

// Footer
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// Work page
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;

  img {
    width: 100%;
    border: 2px solid orange;
    @include easeOut;

    &:hover {
      opacity: 0.6;
      border: $secondary-color;
    }
  }
}

// Button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  outline: none;
  margin-bottom: 0.3rem;
  @include easeOut;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: rgb(236, 108, 61);
}
.btn-light {
  @extend .btn;
  background: deepskyblue;
}

// Contact page
.boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px solid #fff;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

@import "mobile";
