@import "config";
@import "menu";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include background;
  height: 100vh;
  background: $primary-color;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
  color: #fff;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
  }
  &.sm-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.3rem 1rem;
    background: darken(rgba(0, 0, 0, 0.4), 3);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1.5rem;

    a {
      padding: 0 0.5rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
